@page "/customrequests"
@attribute [Authorize]

<h3>CustomRequests</h3>
<h4 class="errorText">@errorString</h4>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Email</th>
            <th>Status</th>
            <th>Product Type Id</th>
            <th>User Id</th>
        </tr>

        @if (_requests == null)
        {
            <tr>
                <td colspan="6">Loading...</td>
            </tr>
        }
        else
        {
            @foreach (var item in _requests)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Description</td>
                    <td>@item.Email</td>
                    <td>@item.Status</td>
                    <td>@item.ProductTypeId</td>
                    <td>@item.UserId</td>
                </tr>
            }
        }
    </thead>
</table>

